BODY {
    background: #a6a6a6;
    font-family: sans-serif;
    font-size: 10pt;
}

H1 {
    font-size: 16pt;
}
H2 {
    font-size: 14pt;
    margin-top: 8px;
    margin-bottom: 4px;
}
H3 {
    font-size: 12pt;
    margin-top: 0px;
    margin-bottom: 4px;
}
H4 {
    font-size: 11pt;
    margin-top: 0px;
    margin-bottom: 4px;
}


/****************************************************************************
 * Message of the day
 */

TABLE.motd {
    width: 80%;
    margin: auto;
    margin-bottom: 6pt;
    border: solid red 4px;
    background: white;
    color: red;
}


/****************************************************************************
 * svn info
 */

DIV.svn_info P {
    margin: 0px;
    font-weight: bold;
    font-style: italic;
}
TABLE.svn_info {
    margin-top: 2pt;
    border-spacing: 0px;
    border-collapse: collapse;
}
DIV.svn_info TABLE.svn_info {
    /* margin: auto; */
    border: solid black 1px;
}
TABLE.mainrep TABLE.svn_info {
    font-size: smaller;
}
TABLE.svn_info TR TD.svn_info {
    padding: 0px;
    padding-left: 2px;
    padding-right: 2px;
    background: #EEC;
    text-align: left;
}
SPAN.svn_info {
    color: #800;
}
DIV.svn_info SPAN.svn_info {
    font-weight: bold;
}


/****************************************************************************
 * Table of build node specifications
 */

TABLE.node_specs {
    /* margin: auto; */
    border: solid black 1px;
    /* font-size: smaller; */
}
TABLE.node_specs TH {
    text-align: left;
    vertical-align: top;
    font-style: italic;
    font-size: smaller;
}
TABLE.node_specs TD.spec {
    border: solid black 1px;
}


/****************************************************************************
 * Table of 'R CMD config' variables (on the NodeInfo pages)
 */

TABLE.Rconfig {
    border-spacing: 1px;
    font-family: monospace;
}
TABLE.Rconfig TD {
    background: #FFF;
}


/****************************************************************************
 * Glyph styles
 */

SPAN.TIMEOUT {
    font-weight: bold;
    color: white;
}
SPAN.ERROR {
    font-weight: bold;
    color: white;
}
SPAN.WARNINGS {
    font-weight: bold;
    color: white;
}
SPAN.OK {
    font-weight: bold;
    color: #DDD;
}
SPAN.skipped {
    font-weight: bold;
    color:white;
}
SPAN.IN_PROGRESS {
    font-weight: bold;
    color: white;
}
SPAN.UNSUPPORTED {
    font-weight: bold;
    color: white;
}



.TIMEOUT,
TABLE.summary TD.summary.TIMEOUT {
    background: #A08;
}
.ERROR,
TABLE.summary TD.summary.ERROR {
    background: #B33;
}
.WARNINGS,
TABLE.summary TD.summary.WARNINGS {
    background: #D82;
}
.OK,
TABLE.summary TD.summary.OK {
    background: #282;
}
.IN_PROGRESS,
TABLE.summary TD.summary.IN_PROGRESS {
    background: black;
}
.skipped,
TABLE.summary TD.summary.skipped {
    background: #3399FF;
}
.UNSUPPORTED,
TABLE.summary TD.summary.UNSUPPORTED {
    background: #484e59;
}



TABLE.summary {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0px;
    color: white;
}
TABLE.summary TD {
    width: 28px;
    padding: 0px;
    text-align: center;
}


/****************************************************************************
 * Main table (the big one)
 */

TABLE.mainrep {
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
}

TABLE.mainrep TD {
    padding: 0px;
}
TABLE.mainrep .node {
/*    text-align: center; */
}
TABLE.mainrep .stagecmd {
    /* width: 120px; */
}

TABLE.mainrep TR.header TD,
TABLE.mainrep TD.header {
    /* border-top: solid black 1px; */
    background: inherit;
    font-style: italic;
    font-size: smaller;
}
TABLE.mainrep TR.current,
TABLE.mainrep TD.current {
    font-weight: bold;
}

TABLE.mainrep TD.status {
    /* border: inset 1pt; */
    text-align: center;
}

TABLE.mainrep .odd TH,
TABLE.mainrep .odd TD {
    background: #FFF;
}
TABLE.mainrep .even TH,
TABLE.mainrep .even TD {
    background: #DDD;
}


/****************************************************************************
 * Node specific background colors
 */

/* malbec1 */
DIV.malbec1,
TR.malbec1 TD,
TABLE.mainrep .malbec1,
TABLE.mainrep .odd .malbec1 {
    background: #b3e0ff;
}
TABLE.mainrep .even .malbec1 {
    background: #b3e0ff;
}

/* tokay1 */
DIV.tokay1,
TR.tokay1 TD,
TABLE.mainrep .tokay1,
TABLE.mainrep .odd .tokay1 {
    background: #d9b3ff;
}
TABLE.mainrep .even .tokay1 {
    background: #d9b3ff;
}


/* merida1 */
DIV.merida1,
TR.merida1 TD,
TABLE.mainrep .merida1,
TABLE.mainrep .odd .merida1 {
    background: #ffccff;
}
TABLE.mainrep .even .merida1 {
    background: #ffccff;
}

/* machv2 */
DIV.machv2,
TR.machv2 TD,
TABLE.mainrep .machv2,
TABLE.mainrep .odd .machv2 {
    background: #ffccff;
}
TABLE.mainrep .even .machv2 {
    background: #ffccff;
}

/* malbec2 */
DIV.malbec2,
TR.malbec2 TD,
TABLE.mainrep .malbec2,
TABLE.mainrep .odd .malbec2 {
    background: #b3e0ff;
}
TABLE.mainrep .even .malbec2 {
    background: #b3e0ff;
}

/* tokay2 */
DIV.tokay2,
TR.tokay2 TD,
TABLE.mainrep .tokay2,
TABLE.mainrep .odd .tokay2 {
    background: #d9b3ff;
}
TABLE.mainrep .even .tokay2 {
    background: #d9b3ff;
}

/* jbcj433 */
DIV.jbcj433,
TR.jbcj433 TD,
TABLE.mainrep .jbcj433,
TABLE.mainrep .odd .jbcj433 {
    background: #b3e0ff;
}
TABLE.mainrep .even .jbcj433 {
    background: #b3e0ff;
}

/* nebbiolo2 */
DIV.nebbiolo2,
TR.nebbiolo2 TD,
TABLE.mainrep .nebbiolo2,
TABLE.mainrep .odd .nebbiolo2 {
    background: #b3e0ff;
}
TABLE.mainrep .even .nebbiolo2 {
    background: #b3e0ff;
}

/* nebbiolo1 */
DIV.nebbiolo1,
TR.nebbiolo1 TD,
TABLE.mainrep .nebbiolo1,
TABLE.mainrep .odd .nebbiolo1 {
    background: #b3e0ff;
}
TABLE.mainrep .even .nebbiolo1 {
    background: #b3e0ff;
}

/* teran2 */
DIV.teran2,
TR.teran2 TD,
TABLE.mainrep .teran2,
TABLE.mainrep .odd .teran2 {
    background: #b3e0ff;
}
TABLE.mainrep .even .teran2 {
    background: #b3e0ff;
}

/* riesling1 */
DIV.riesling1,
TR.riesling1 TD,
TABLE.mainrep .riesling1,
TABLE.mainrep .odd .riesling1 {
    background: #d9b3ff;
}
TABLE.mainrep .even .riesling1 {
    background: #d9b3ff;
}

/* palomino3 */
DIV.palomino3,
TR.palomino3 TD,
TABLE.mainrep .palomino3,
TABLE.mainrep .odd .palomino3 {
    background: #d9b3ff;
}
TABLE.mainrep .even .palomino3 {
    background: #d9b3ff;
}

/* palomino4 */
DIV.palomino4,
TR.palomino4 TD,
TABLE.mainrep .palomino4,
TABLE.mainrep .odd .palomino4 {
    background: #d9b3ff;
}
TABLE.mainrep .even .palomino4 {
    background: #d9b3ff;
}

/* lconway */
DIV.lconway,
TR.lconway TD,
TABLE.mainrep .lconway,
TABLE.mainrep .odd .lconway {
    background: #ffccff;
}
TABLE.mainrep .even .lconway {
    background: #ffccff;
}
